{% extends "base.html" %}
{% block title %}My Shopping Cart{% endblock  %}
{% block content %}


<section class="section-content padding-y bg" style="width: 1519.2px; height: 661px;">
<div class="container ">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="pb-2">
    <h2 style="font-weight: 300;">Shopping Cart</h2>
</div>
<div class="row">
	<aside class="col-lg-9 col-md-8">
<div class="card cartdata">
{% if cartitem %}
<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase ">
  <th scope="col" class="ml-4 col-md-2">Product</th>
  <th scope="col" width="120" class="ml-4 col-md-2">Quantity</th>
  <th scope="col" width="120" class="col-md-2">Unit Price</th>
  <th scope="col" class="col-md-2" width="120">Remove</th>
</tr>
</thead>
<tbody>
	{% for item in cartitem %}
<tr class="product_data">
	<td>
		<figure class="itemside align-items-center">
			<a href="{% url 'productdetail' item.product.id %}">
				<div class="aside"><img src="{{ item.product.image.url }}" class="img-sm"></div>
			</a>
		<figcaption class="info">
				<a href="{% url 'productdetail' item.product.id %}" class="title text-dark">{{item.product.title}}</a>
			 
			</figcaption>
		</figure>
	</td>
	<td> 
		<!-- col.// -->
				{% csrf_token %}
				<input type="hidden" value="{{ item.product.id }}" class="prod_id">
				{% if item.product.quantity >= item.product_qty %}
					<div class="col py-3"> 
						<div class="input-group input-spinner">
							<div class="input-group-prepend">
								<button class="btn btn-light ChangeQuantity button-decreament" type="button" id="button-plus">
									<i class="fa fa-minus"></i>
								</button>
							</div>
							<input type="text" class="form-control qty-input" value="{{item.product_qty}}" readonly style="background-color:white";>
							<div class="input-group-append">
								<button class="btn btn-light ChangeQuantity button-increament" type="button" id="button-minus">
									<i class="fa fa-plus"></i>
								</button>
							</div>
						</div> 
					</div> 
					{% else %}
					<label class="badge bg-danger">Out of stock</label>
					{% endif %}
	</td>
	<td> 
		<div class="price-wrap py-4"> 
			<var class="price">₹ {{ item.product.price|floatformat:"0" }}</var> 
		</div> <!-- price-wrap .// -->
	</td>
	<td> 
		<button type="button" class="btn delete-cart-item  mt-2"  > <i class="fas fa-times" style="color:gray"></i></button>
	</td>
</tr>
{% endfor %}
{% else %}
<div class="pl-2 py-4 ml-2"  style="display: flex; justify-content: center; align-items: center; text-align: center; height:250px;">
	<h5 class="text-info">
		"You haven't placed any orders yet."
		<br>
		"We can't wait to have you as a customer."
	</h5>
</div>
<br>
<br>
<div style="display: flex; justify-content: center; align-items: center; text-align: center;">
	<strong><p>Take a look at our products here</p></strong>
</div>
<br>
<div style="justify-content: center; align-items: center; text-align: center;">
	<a href="{% url 'index' %}" class="btn text-white bg-dark my-2 mb-2">Continue Shopping</a>
</div>
{% endif %}
 </td>
</tr>
</tbody>
</table>
</div> <!-- card.// -->
<div class="w3-container w3-animate-fading" style="display:flex; justify-content: center;">
	<p>Free delivary for ₹ 5000 and above purchase...!</p>
</div>
	</aside> <!-- col.// -->
	<aside class="col-lg-3 col-md-4">

		<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Sub Total:</dt>
			  <dd class="ml-2">₹ {{sub_total|floatformat:"0" }}</dd>
			</dl>
			{% if sub_total >= 5000 %}
			<dl class="dlist-align">
				<dt>Free Delivery :</dt>
				<dd class=" ml-2">₹ 0.00</dd>
			</dl>
			{% else %}
			<dl class="dlist-align">
				<dt>Shipping:</dt>
				<dd class=" ml-2">₹ {{delivary_charge}} +</dd>
			</dl>
			{% endif %}
			<dl class="dlist-align">
				<dt>Discount :</dt>
				{% if total_quantity > 0 %}
				<dd class=" ml-2">₹ {{discount}} -</dd>
				{% else %}
				<dd class=" ml-2">₹ 0</dd>
				{% endif %}
			</dl>
			<hr>
			<dl class="dlist-align">
				<dt>Total Price :</dt>
				{% if total_quantity > 0 %}
				<dd class=" ml-2">₹ {{total_price|floatformat:"0"}}</dd>
				{% else %}
				<dd class=" ml-2">₹ 0</dd>
				{% endif %}
			</dl>
			<br>
			{% if total_quantity > 0 %}
			<button class="btn btn-block" style="border: 1px solid gray;" data-toggle="collapse" data-target="#demo">Apply Promo Code</button>
				<div id="demo" class="collapse">
					<form action="{% url 'applycoupon' %}" method="POST">
					{% csrf_token %}
					  <!-- Coupon code input field -->
                      <input type="text" class="coupon-input py-2  mt-2" required class="form-control" name="coupon_code" style="width: 240px; text-align: center;" placeholder="Enter coupon code">
					  <!-- Apply button -->
					  <button class="apply-button btn btn-block mt-2 text-white" style="border: 1px solid; background-color:red" type="submit">Apply</button>
					</form>
				</div>
			{% else %}
			<div></div>
			{% endif %}
			<br>
			<p class="text-center mb-3">
				
			</p>
			{% if total_quantity > 0 %}
			<a href="{% url 'checkoutpage' %}" class="btn btn-block text-success" style="border: 1px solid green;"> Checkout </a>
			<a href="{% url 'index' %}" class="btn text-white bg-dark  btn-block"> Continue Shopping </a>
			{% else %}
			<a href="" class="btn btn-danger btn-block">No items to display</a>
			{% endif %}
			{% if cartitem == 0 %}
			<a href="{% url 'index' %}" class="btn btn-light btn-block"></a>
			{% endif %}
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->

</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>

{% endblock %}