{% extends "base.html" %}
{% block title %}Contact {% endblock %}
{% block content %}
<section style="min-height:90vh;">
    <div class="container mt-5" style="display: flex; justify-content:center; ">
        <h1 style="font-weight: 200;">CONTACT US</h1>
    </div>
    <div class="container mt-5">
        <div class="container mt-3" style="text-align: center;">
            <p style="font-size: 20px; font-weight:400">You can chat with us on our Instagram page</p>
        </div>
        <div class="container mt-4" style="text-align: center;">
            <p style="font-size: 20px; font-weight:400">Call us: +91 828188 2768</p>
        </div>
        <div class="container mt-4" style="text-align: center;">
            <p style="font-size: 20px; font-weight:400">Whatsapp: +91 828188 2768</p>
        </div>
        <div class="container mt-4" style="text-align: center;">
            <p style="font-size: 20px; font-weight:400">Timing - 10 AM - 8 PM</p>
        </div>
        <div class="container mt-5" style="justify-content: center; align-items: center; text-align: center;">
            <a href="{% url 'index' %}" class="btn text-white bg-dark my-2 mb-2">Continue Shopping</a>
        </div>
    </div>
</section>
{% endblock %}