<!DOCTYPE HTML>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="max-age=604800"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>GreatKart | One of the Biggest Online Shopping Platform</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <!-- jQuery -->
    <script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>

    <!-- Bootstrap4 files-->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>

    <!-- Font awesome 5 -->
    <link href="{% static 'fonts/fontawesome/css/all.min.css' %}" type="text/css" rel="stylesheet">

    <!-- custom style -->
    <link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />

    <!-- custom javascript -->
    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
        /// some script

        // jquery ready start
        $(document).ready(function() {
            // jQuery code

        });
        // jquery end
    </script>

<!-- jQuery css for search product -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>

<!-- Alertify CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

<style>
  .header-main {
    position: sticky;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 1000;
  }

</style>
<style>
  .button-container {
      position: relative;
      width: 100%;
      text-align: center;
  }

  .w3-button {
      position: absolute;
      top: 50%;
      width: 100px;
      transform: translateY(-50%);
  }
  .w3-button {
    display: inline-block;
    background-color: transparent;
    color: whitesmoke; /* Text color */
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 24px; /* Adjust font size for larger arrows */
}

  .w3-button:hover {
    color: #f1f1f1; /* Hover background color */
}
  .w3-display-left {
      left: 0;
      top: 427.275px;
  }

  .w3-display-right {
      right: 0;
      top: 427.275px;
  }

  .mySlides img {
      width: 100%;
  }
</style>

</head>
<body>
  <header class="section-header" >
      <section class="header-main border-bottom  ">
          <div class="container ">
              <div class="row align-items-center">
                  <div class="col-lg-2 col-md-3 col-6 ">
                      <a href="./" class="brand-wrap ">
                          <img class="logo" src="{% static 'images/logo.png' %}">
                      </a> <!-- brand-wrap.// -->
                  </div>
                  <div class="col-lg col-sm col-md col-6 flex-grow-0">
                    <div class="dropdown">
                      <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        All Categories
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'category-view' category_name='T-shirt' %}">Tshirt</a></li>
                        <li><a class="dropdown-item" href="{% url 'category-view' category_name='Shirt' %}">Shirt</a></li>
                        <li><a class="dropdown-item" href="{% url 'category-view' category_name='Jeans' %}">Jeans</a></li>
                        <li><a class="dropdown-item" href="{% url 'category-view' category_name='Jacket' %}">Jacket</a></li>
                    </ul>
                    
                    </div>
                      <!-- category-wrap -->
                  </div> <!-- col.// -->
                  <!-- <a href="./store.html" class="btn btn-outline-primary">Store</a> -->
                  <div class="col-lg col-md-6 col-sm-12 col">
                      <form action="{% url 'searchproduct' %}" class="search" method="POST">
                        {% csrf_token %}
                          <div class="input-group w-100">
                              <input type="search" required class="form-control" style="width:60%;" id="searchproduct" name="productsearch" placeholder="Search Product">
  
                              <div class="input-group-append">
                                  <button class="btn btn-primary" type="submit">
                                      <i class="fa fa-search"></i>
                                  </button>
                              </div>
                          </div>
                      </form> <!-- search-wrap .end// -->
                  </div> <!-- col.// -->
                  <div class="col-lg-3 col-sm-6 col-8 order-2 order-lg-3">
                      <div class="d-flex justify-content-end mb-3 mb-lg-0">
                         <div class="widget-header px-4">
                              {% if request.user.is_authenticated %}
                              <button class="title text-muted py-2 mt-2" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" style="background-color:white; border:none;">{{request.user}}</button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <li><a class="dropdown-item" href="{% url 'index' %}">Home</a></li>
                                <li><a class="dropdown-item" href="{% url 'profile-view' %}">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'my-orders' %}">My Orders</a></li>
                                <li><a class="dropdown-item" href="{% url 'logoutpage' %}">Logout</a></li> 
                              </ul>
                              {% else %}
                              <!-- <small class="title text-muted ">Welcome</small> -->
                              <div class = "py-2 mt-2 ">
                                {% csrf_token %}
                                  <a href="{% url 'loginpage' %}"> Login</a> <span class="dark-transp"></span>
                                  <!-- <a href="./register.html"> Register</a> -->
                              </div>
                              {% endif %}
                          </div>
                        
                          <a href="{% url 'cart' %}" class="widget-header pl-3 ml-3">
                          <div class="icon icon-sm rounded-circle border"><i class="fa fa-shopping-cart"></i></div>
                          {% if total_quantity == 0 %}
                            <span></span>
                          {% else %}
                          <span class="badge badge-pill badge-danger notify">{{total_quantity}}</span>
                          {% endif %}
                        </a>
                        <a href="{% url 'wishlist' %}" class="widget-header pl-3 ml-3">
                          <div class="icon icon-sm rounded-circle border"><i class="fa fa-heart"></i></div>
                          {% if total_item == 0 %}
                          <span ></span>
                          {% else %}
                          <span class="badge badge-pill notify" style="background-color: green; color: white;">{{total_item}}</span>
                          {% endif %}
                        </a>
                       
                      </div> <!-- widgets-wrap.// -->
                     
                  </div> <!-- col.// -->
                 
              </div> <!-- row.// -->
             
          </div> <!-- container.// -->
          
      </section> <!-- header-main .// -->
  </header> <!-- section-header.// -->
  


<!-- ========================= SECTION MAIN ========================= -->
<!-- <div class="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        {% for image in bannerimage  %}
        <div class="carousel-item active">
          <a href="{% url 'store' %}">
            <img src="{{ image.image.url }}" class="d-block w-100" alt="...">
          </a>
        </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div> -->

  <div class="w3-content w3-display-container">
    {% for image in bannerimage %}
    <div class="mySlides">
        <div class="button-container">
            <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>
        </div>
        <a href="{% url 'store' %}">
        <img src="{{ image.image.url }}" alt="Banner Image">
        </a>
    </div>
    {% endfor %}
</div>

   
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm" style="background-color: rgb(255, 255, 255);">
    <div class="container">
        <header class="section-heading">
            <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
            <h3 class="section-title" style="font-weight: 400;">Elevate Your Style</h3>
        </header><!-- sect-heading -->
        <div class="row">
            {% for prod in prods %}
            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="{% url 'productdetail' prod.id %}" class="img-wrap">
                        <img src="{{ prod.image.url }}" >
                    </a>
                    <figcaption class="info-wrap">
                        <a href="{% url 'productdetail' prod.id %}" class="title">{{ prod.title }}</a>
                        <div class="price mt-1">₹ {{ prod.price }}</div>
                    </figcaption>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


<!-- ========================= SECTION  END// ========================= -->

<!-- ========================= FOOTER ========================= -->
<!-- Remove the container if you want to extend the Footer to full width. -->
<!-- Remove the container if you want to extend the Footer to full width. -->
<!-- <div class="container my-5"> -->
    <!-- Footer -->
    <footer class="text-center text-white">
      <!-- Grid container -->
      <div  style="background-color: #ffff;">
        <!-- Section: Social media -->
        <section >
    

          <!-- Instagram -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.instagram.com/subin__kv___?igsh=cm5wMnJrODY2aGIx"
            role="button"
            target="_blank"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/subin-sundar-kv"
          role="button"
          target="_blank"
          data-mdb-ripple-color="dark"
      ><i class="fab fa-linkedin"></i></a>
      
          <!-- Github -->
          <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://github.com/Subinkvs"
            role="button"
            target="_blank"
            data-mdb-ripple-color="dark"
            ><i class="fab fa-github"></i
          ></a>
         
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
     <!-- Copyright -->
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2); display: flex; align-items: center; justify-content: center; width: 100%;">
      <div>
        © 2023 
        <a class="text-dark" href="https://mdbootstrap.com/">Icart |  All Rights Reserved</a>
      </div>
      <div>
        <a class="btn float-right" href="{% url 'contactpage' %}"  role="button" data-mdb-ripple-color="dark"><p>Contact us</p></a>
      </div>
    </div>
    
      <!-- Copyright -->
    
    
    </footer>
    <!-- Footer -->
  <!-- </div> -->
  <!-- End of .container -->
<!-- ========================= FOOTER END // ========================= -->
<!-- jQuery for search product -->
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script>
var availableTags = [];
$.ajax({
  method: "GET",
  url: "/product-list",
  success: function (response) {
    startAutocomplete(response);
  }
});
function startAutocomplete(availableTags)
{
  $( "#searchproduct" ).autocomplete({
    source: availableTags
  });
}
</script>
<!-- jQuery for alertify messages -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
    ('{% for msg in messages %}')
        alertify.set('notifier', 'position', 'bottom-right');
        alertify.success('{{ msg }}');
    ('{% endfor %}')
</script>
<script>
  var slideIndex = 1;
  showDivs(slideIndex);
  
  function plusDivs(n) {
    showDivs(slideIndex += n);
  }
  
  function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    x[slideIndex-1].style.display = "block";  
  }
  </script>
</body>
</html>