{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container" style="margin-top: 10px;">
    <h1 class="text-center">Invoice</h1>
</div>
<div>
    <button class="btn btn-primary float-right" style="margin-right: 380px;" id="download">Download PDF</button>
</div>
<div class="container" style="margin: 0 auto;width: 50%;padding: 50px;background: #f1f1f1;margin-top: 50px;margin-bottom: 50px;">
    <div class="row invoice row-printable">
        <div class="col-md-12">
            <!-- col-lg-12 start here -->
            <div class="panel panel-default plain" id="dash_0" >
                <!-- Start .panel -->
                <div class="panel-body " id="invoice">
                    <div class="row">
                        <!-- Start .row -->
                       
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-6 float-left" >
                            <!-- col-lg-6 start here -->
                            <div class="invoice-from" >
                                <ul class="list-unstyled text-left">
                                    <li><strong>Invoiced To</strong></li>
                                    <li>{{ order.firstname}} {{order.lastname}}</li>
                                    <li>{{ order.address }}</li>
                                    <li>{{ order.city }}, {{ order.state }}</li>
                                    <li>{{order.pincode}}</li>
                                    <li>{{ order.country }}</li>
                                </ul>
                            </div>
                        </div>
                            <div class="col-lg-6 ">
                                
                                <ul class="list-unstyled" style="margin-left: 120px;">
                                    <li style="padding: right 50px;"><strong>Date</strong></li>
                                    <li>{{order.created_at}}</li>
                                </ul>
                            </div>
                       
                        
                        <!-- col-lg-6 end here -->
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <div class="invoice-details mt25">
                                <div class="well">
                                    <ul class="list-unstyled mb0">
                                        <h4 class="mt-2">Grand Total : <span >₹ {{order.total_price}}</span></h4>
                                        <h6 class="border p-2"> Payment Mode: {{order.payment_mode}}</h6>
                                        <h6 class="border p-2"> Order Status: {{order.status}}</h6>
                                        <h6 class="border p-2"> Tracking No: {{order.tracking_no}}</h6>
                                    </ul>
                                </div>
                            </div>

                            <div class="invoice-items">
                                <div class="table-responsive" style="overflow: hidden; outline: none;" tabindex="0">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="per70 text-center">Products</th>
                                                <th class="per5 text-center">Qty</th>
                                                <th class="per25 text-center">Unit Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in orderitems %}
                                            <tr>
                                                <td>{{ item.product.name }}</td>
                                                <td class="text-center">{{ item.quantity }}</td>
                                                <td class="text-center">₹ {{ item.price}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2" class="text-right">Total price:</th>
                                                <th class="text-center">₹ {{ order.total_price }}</th>
                                            </tr>
                                           
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="invoice-footer mt25">
                                <h6 class="text-center" style="font-weight:300">Thank you for shopping with us!</h6>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <!-- End .row -->
                </div>
            </div>
            <!-- End .panel -->
        </div>
        <!-- col-lg-12 end here -->
    </div>
</div>
{% endblock %}