{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-3">
    <h1 class="text-center">Invoice</h1>
</div>

<div class="container mb-4">
    <button class="btn btn-primary float-right" id="download">Download PDF</button>
</div>

<div class="container mt-5" style="min-height:90vh; background: #f1f1f1; border: 2px solid #f1f1f1;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default plain">
                <div class="panel-body" id="invoice">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="invoice-from">
                                <ul class="list-unstyled text-left">
                                    <li><strong>Invoiced To</strong></li>
                                    <li>{{ order.firstname}} {{order.lastname}}</li>
                                    <li>{{ order.address }}</li>
                                    <li>{{ order.city }}, {{ order.state }}</li>
                                    <li>{{order.pincode}}</li>
                                    <li>{{ order.country }}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-unstyled date" >
                                <li><strong>Date</strong></li>
                                <li>{{order.created_at}}</li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <div class="invoice-details mt-3">
                                <div class="well">
                                    <ul class="list-unstyled mb-0">
                                        <h4 class="mt-2">Grand Total: <span>₹ {{order.total_price}}</span></h4>
                                        <h6 class="border p-2">Payment Mode: {{order.payment_mode}}</h6>
                                        <h6 class="border p-2">Order Status: {{order.status}}</h6>
                                        <h6 class="border p-2">Tracking No: {{order.tracking_no}}</h6>
                                    </ul>
                                </div>
                            </div>
                            <div class="invoice-items">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="per70 text-center">Products</th>
                                                <th class="per5 text-center">Qty</th>
                                                <th class="per25 text-center">Unit Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in orderitems %}
                                            <tr>
                                                <td>{{ item.product.name }}</td>
                                                <td class="text-center">{{ item.quantity }}</td>
                                                <td class="text-center">₹ {{ item.price}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2" class="text-right">Total price:</th>
                                                <th class="text-center">₹ {{ order.total_price }}</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="invoice-footer mt-3">
                                <h6 class="text-center" style="font-weight:300">Thank you for shopping with us!</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}