{% extends "base.html" %}
{% block title %}My Orders{% endblock  %}
{% block content %}

<section class="intro"  style="margin-top: 0;">
  
    <div class="bg-image h-150 mt-2" style="background-color: #f5f7fa;">
      
      <div class="mask d-flex align-items-center h-100">
        <div class="container ">
          
          <div class="row justify-content-center">
            <div class="col-12" >
              <div class="card">
                <div class="card-header card-shadow" style="background-color: #f8f9fa; border:none">
                  <h2 style="font-weight: 300;">My Order</h2>
                </div>
                <div class="card-body p-0 ">
                  <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 630px;">
                    <table class="table table-bordered  mb-0 ">
                      <thead style="background-color: #002d72;">
                        <tr>
                          <th scope="col">Order Date</th>
                          <th scope="col">Tracking Number</th>
                          <th scope="col">Total Price</th>
                          <th scope="col">Status</th>
                          <th scope="col">Details</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% if total_items > 0 %}
                            {% for item in orders %}
                                <tr>
                                    <td>{{ item.created_at }}</td>
                                    <td>{{ item.tracking_no }}</td>
                                    <td>₹ {{ item.total_price}}</td>
                                    <td>{{ item.status }}</td>
                                    <td><a href="{% url 'order-view' item.tracking_no %}" class="btn btn-info">View</a></td>
                                    <td>
                                        {% if item.status == 'Pending' %}
                                            <button class="btn btn-danger" data-toggle="modal" data-target="#myModal">Cancel Order</button>
                                        {% elif item.status == 'Completed' %}
                                            <h6>Completed</h6>
                                        {% else %}
                                            <h6>Order On Way</h6>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="6">
                                    <h4>Your Order is empty</h4>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                    
                    </table>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div style="justify-content: center; align-items: center; text-align: center;">
                      <a href="{% url 'index' %}" class="btn text-white bg-dark my-2 mb-2">Continue Shopping</a>
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirmation</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>Do you really want to cancel this order?</p>
        </div>
      {% if orders %}
        <div class="modal-footer">
          <input type="hidden" value="{{ orders.0.id }}">
          <button type="button" class="btn btn-default" id="cancelOrderBtn" data-order-id="{{ orders.0.id }}">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
       </div>
      {% endif %}    
      </div>
    </div>
  </div>
  </section>
{% endblock %}