{% extends "base.html" %}
{% block title %}My Checkout page{% endblock  %}
{% block content %}
<section class="section-content padding-y bg" style="min-height:90vh;">
<div class="container">
<!-- ============================ COMPONENT 2 ================================= -->
<form action="{% url 'placeorder' %}" method="POST">
	{% csrf_token %}
<div class="row">
		<main class="col-md-8">
<article class="card mb-4">
<div class="card-body">
	<h4 class="card-title mb-4">Order Summary</h4>
	<hr>
	<div>
	<div class="row">
		{% for item in cartitems %}
		<div class="col-md-6">
			<figure class="itemside  mb-4">
				<div class="aside"><img src="{{item.product.image.url}}" class="border img-sm"></div>
				<figcaption class="info">
					<p>{{item.product.title}}</p>
					<span >₹ {{item.product.price}}</span>
				</figcaption>
			</figure>
		</div>
		{% endfor %}
	</div> <!-- row.// -->
</div> <!-- card-body.// -->
</article> <!-- card.// -->
<article class="card mb-4">
<div class="card-body">
	<h4 class="card-title mb-4">Basic Details</h4>
	<hr>
<!-- checkout form -->
<form action="{% url 'placeorder' %}" method="POST">
       {% csrf_token %}
		<div class="row">
			<div class="form-group col-sm-6">
				<label>First name</label>
				<input type="text" value="{{request.user.first_name}}" required class="form-control" name="firstname" placeholder="Enter first name">
			</div>
			<div class="form-group col-sm-6">
				<label>Last name</label>
				<input type="text" value="{{request.user.last_name}}" required  class="form-control"  name="lastname" placeholder="Enter Last name">
			</div>
			<div class="form-group col-sm-6">
				<label>Email</label>
				<input type="email" value="{{request.user.email}}" required class="form-control"   name="email" placeholder="example@gmail.com">
			</div>
			<div class="form-group col-sm-6">
				<label>Phone</label>
				<input type="text" value="{{request.user.phonenumber}}" required  class="form-control"  name="phone" placeholder="Enter phone number">
			</div>
			<div class="form-group col-12">
				<label>Address</label>
				<textarea type="text"required  class="form-control" required  name="address" placeholder="Enter address"  style="height: 100px;">{{userprofile.address}}</textarea>
			</div>
			<div class="form-group col-sm-6">
				<label>City</label>
				<input type="text" value="{{userprofile.city}}" required  class="form-control"  name="city" placeholder="Enter City name">
			</div>
			<div class="form-group col-sm-6">
				<label>State</label>
				<input type="text" value="{{userprofile.state}}" required  class="form-control"  name="state" placeholder="Enter State name">
			</div>
			<div class="form-group col-sm-6">
				<label>Country</label>
				<input type="text" value="{{userprofile.country}}" required  class="form-control"  name="country" placeholder="Enter Country name">
			</div>
			<div class="form-group col-sm-6">
				<label>Pin Code</label>
				<input type="text" value="{{userprofile.pincode}}" required  class="form-control"  name="pincode" placeholder="Enter Pin Code">
			</div>
		</div> <!-- row.// -->	
</form>
<article class="accordion" id="accordion_pay">
	<div class="card">
		<header class="card-header">

			<label class="form-check collapsed" data-toggle="collapse" data-target="#pay_paynet">
				<!-- <input class="form-check-input" name="payment-option" checked type="radio" value="option2">
				<h6 class="form-check-label"> 
					Paypal 
				</h6> -->
			</label>
		</header>
		<div id="pay_paynet" class="collapse show" data-parent="#accordion_pay">
		<div class="card-body">
			<p class="text-center" style="font-size: 20px; margin-top: 20px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight:300;">
				"Connect to iCart for a shopping experience tailored to your fashion"
			  </p>
			  
			<p class="text-center">
				
				<br><br>
			</p>
		</div> 
		</div> <!-- collapse .// -->
	</div> <!-- card.// -->
	<div class="card">
	<header class="card-header">
	
	</header>
	<div id="pay_payme" class="collapse" data-parent="#accordion_pay">
		<div class="card-body">
			<p class="alert alert-success">Some information or instruction</p>
			<form class="form-inline">
				<input type="text" class="form-control mr-2" placeholder="xxxx-xxxx-xxxx-xxxx" name="">
				<input type="text" class="form-control mr-2" style="width: 100px"  placeholder="dd/yy" name="">
				<input type="number" maxlength="3" class="form-control mr-2"  style="width: 100px"  placeholder="cvc" name="">
				<button class="btn btn btn-success">Button</button>
			</form>
		</div> 
	</div> <!-- collapse .// -->
	</div> <!-- card.// -->
	
</article> 
<!-- accordion end.// -->
  
		</main> <!-- col.// -->
		<aside class="col-md-4">
			<div class="card">
		<div class="card-body">

			<dl class="dlist-align">
			  <dt>Total price:</dt>
			  <dd class="text-right text-dark b"><strong>₹ {{total_price}}</strong></dd>
			</dl>
			<hr>
			<p class="text-center mb-3">
				
			</p>
			<input type="hidden" value="COD" name="payment_mode">
			<button class="btn btn-success btn-block" type="submit"> COD | Place Order </button>
			<button class="btn btn-primary btn-block mt-2 paywithrazorpay" type="button"> Pay with Razorpay </button>
			
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
  </div>
</form>
<!-- ============================ COMPONENT 2 END//  ================================= -->
</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}