{% extends "base.html" %}
{% block title %}My Product detail{% endblock  %}
{% block content %}
<div class="container">
</div>
    <section class="section-content padding-y bg ">
        <div class="container">
            <!-- COMPONENT 1 -->
            <div class="card">
                <div class="row no-gutters">
                    <aside class="col-md-6">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap ">
                                <a href="#">
                                    <img src="{{product.image.url}}" id="zoom">
                                </a>
                            </div>
                        </article>
                    </aside>
                    <main class="col-md-6 border-left">
                        <article class="content-body product_data">
                            <h2 class="title">{{product.title}}</h2>
                            <div class="mb-3">
                                <var class="price h4">₹ {{product.price}}</var>
                            </div>
                            <p>{{product.description}}
                            </p>
                            <hr>
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Color</h6>
                                    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-light">
                                            <input type="radio" name="radio_color"> {{product.color}}
                                        </label>
                                       </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>Size</h6>
                                    <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-light">
                                            <input type="radio" name="radio_color"> {{product.size}}
                                        </label>
                                       </div>
                                </div>
                            </div>
                            <hr>
                            <div class="product_data">
                                {% if product.quantity > 0 %}
                                    <label class="badge bg-success">In stock</label>
                                {% else %}
                                    <label class="badge bg-danger">Out of stock</label>
                                {% endif %}
                                <!-- Other product details and form elements -->
                                {% csrf_token %}
                                <input type="hidden" value="{{ product.id }}" class="prod_id">
                                <!-- <label for="Quantity">Quantity</label> -->
                                <div class="row">
                                    <div class="input-group input-spinner">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-light ChangeQuantity button-decreament" type="button" id="button-plus">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control qty-input text-dark" value="1" readonly style="background-color: white; color: black;">

                                        <div class="input-group-append">
                                            <button class="btn btn-light ChangeQuantity button-increament" type="button" id="button-minus">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div> <!-- input-group.// -->
                                </div> <!-- col.// -->
                         <hr>
                            {% if product.quantity > 0 %}
                                <button class="btn addToCartBtn" style="border: 1px solid gray;">Add to cart
                                    <i class="fas fa-shopping-cart px-2"></i></button>
                                <button class="btn ml-4 addToWishlistBtn" style="border: 1px solid gray;">Wishlist<i class="fas fa-heart px-2 "></i></button>
                            {% endif %}
                           
                        </article>
                    </main>
                </div>
            </div>
        </div>
            <!-- COMPONENT 1 END -->
            <br>
            </div>
    </section>
 </div>
</div>
   
{% endblock %}