{% extends "base.html" %}
{% block title %}My Registerpage{% endblock %}
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="min-height:90vh;">
    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4 " ><h4 class="card-title" style="padding: left 50px;">Create Account</h4></header>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col form-group">
                        <label>User name</label>
                        {{form.username}}
                        {% if form.errors.username %}
                            <label class="text-danger">{{form.errors.username}}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    {{form.email}}
                    {% if form.errors.email %}
                        <label class="text-danger">{{form.errors.email}}</label>
                    {% endif %}
                    <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Phone Number</label>
                        {{form.phonenumber}}
                        {% if form.errors.phonenumber %}
                            <label class="text-danger">{{form.errors.phonenumber}}</label>
                        {% endif %}
                    </div>
                    </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Create password</label>
                        {{form.password1}}
                        {% if form.errors.password1 %}
                            <label class="text-danger">{{form.errors.password1}}</label>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Confirm password</label>
                        {{form.password2}}
                        {% if form.errors.password2 %}
                            <label class="text-danger">{{form.errors.password2}}</label>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Register </button>
                </div>
            </form>
        </article>
    </div>
    <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="signin.html">Log In</a></p>
    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->

</section>

{% endblock %}