{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="mt-4" style="display: flex; height: 100x; margin: 0;">
    <div class="container custom-border" style=" border: 1px solid#000; padding: 10px; text-align: center;">
        <div class="row">
            <div class="col-md-12">
                <h1 style="font-size: 2em; color: #333; font-weight: bold; text-transform: uppercase;">Forgotten your password?</h1>
                <p>Enter your e-mail address to obtain a new password.</p>
                <form action="." method="post">
                    {{ form.as_p }}
                    <p><input type="submit" value="Send e-mail"></p>
                    {% csrf_token %}
                    </form>
                </div>
        </div>
    </div>
</div>
{% endblock %}