{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<section class="section-conten padding-y d-flex align-items-center" style="min-height:90vh;">
    <div class="container text-center">
<h1 style="font-weight:300;">Reset your password</h1>
{% if validlink %}
<p>Please enter your new password twice:</p>
<form action="." method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Change my password" /></p>
</form>
{% else %}
<p>The password reset link was invalid, possibly because it has
 already been used. Please request a new password reset.</p>
{% endif %}
</div>
</section>
{% endblock %}