{% extends "base.html" %}
{% block title %}My Wishlist{% endblock  %}
{% block content %}
<section class="section-content padding-y bg" style="min-height:90vh;">
<div class="container ">

<!-- ============================ COMPONENT 1 ================================= -->

<div class="pb-2">
    <h2 style="font-weight: 300;">Shopping Wishlist</h2>
</div>
<div class="row ">
	<aside class="col-lg-9 col-md-12">
<div class="card  cartdata table-responsive table-scroll"  data-mdb-perfect-scrollbar="true" style="position: relative;">
{% if wishlist %}
<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col" class="col-md-2">Product</th>
  <th scope="col" class="col-md-2" width="120">Product View</th>
  <th scope="col" class="col-md-2" width="120">Unit Price</th>
  <th scope="col" class="col-md-2" width="200" style="text-align:center;">Cart</th>
  <th scope="col" class="col-md-2" class="text-right" width="200">Remove</th>
</tr>
</thead>
<tbody>
	{% for item in wishlist %}
<tr class="product_data">
	<td>
		<figure class="itemside align-items-center">
			<div class="aside"><img src="{{ item.product.image.url }}" class="img-sm"></div>
			<figcaption class="info">
				<a href="{% url 'productdetail' item.product.id %}" class="title text-dark">{{item.product.title}}</a>
			 
			</figcaption>
		</figure>
	</td>
	<td> 
		<!-- col.// -->
				{% csrf_token %}
				<input type="hidden" value="{{ item.product.id }}" class="prod_id">
			    <a href="{% url 'productdetail' item.product.id %}">
                    <button type="button" class="btn mr-5" style="border-color: var(--colorTextBody); font-weight:400;">View</button>
                </a>
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">₹ {{item.product.price|floatformat:"0"}}</var> 	
		</div> <!-- price-wrap .// -->
	</td>
	<input type="hidden" value="{{ product.id }}" class="prod_id">
	<input type="hidden" class="form-control qty-input" value="1" readonly style="background-color: white;">
	<td class="text-right"> 
		<button type="button" class="btn addToCartBtn text-white" style="border: 1px ; background-color:red">Add to cart</button>
    </td>	
	<td  > 
		<button type="button" class="btn delete-wishlist-item"><i class="fas fa-times" style="color:gray"></i></button>
    </td>
</tr>
{% endfor %}
{% else %}
<div class="pl-2 py-4 ml-2"  style="display: flex; justify-content: center; align-items: center; text-align: center; height:250px;">
	<h5 style="font-weight:500;">
		"You haven't placed any orders yet."
		<br>
		"We can't wait to have you as a customer."
	</h5>
</div>
<br>
<br>
<div style="display: flex; justify-content: center; align-items: center; text-align: center;">
	<strong><p>Take a look at our products here</p></strong>
</div>
<br>
<div style="justify-content: center; align-items: center; text-align: center;">
	<a href="{% url 'index' %}" class="btn text-white bg-dark my-2 mb-2">Continue Shopping</a>
</div>
{% endif %}
</td>
</tr>
</tbody>
</table>
</div> <!-- card.// -->
<div class="w3-container w3-animate-fading" style="display:flex; justify-content: center;">
	<p>Free delivary for ₹ 5000 and above purchase..!</p>
</div>
</aside> <!-- col.// -->
<aside class="col-lg-3 col-md-12">
<div class="card" style="background-color:#f5f7fa; border:none;">
	<div class="card-body">
		{% if wishlist == 0 %}
		<a href="" class="btn btn-danger btn-block">No items to display</a>
		<a href="#" class="btn btn-light btn-block"></a>
		{% else %}
		<a href="{% url 'index' %}" class="btn text-white bg-dark  btn-block"> Continue Shopping </a>
		<a href="{% url 'cart' %}" class="btn text-success btn-block" style="border: 1px solid green; padding: 10px;">
			Shopping cart
		</a>
		{% endif %}
	</div> <!-- card-body.// -->
	</div> <!-- card.// -->
</aside> 
</div> <!--row-->
 <!-- ============================ COMPONENT 1 END .// ================================= -->
</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}